<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="js/vue.js"></script>
   <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Learning Vue | Working with Directives</title>
</head>
<body>
    <div id="app">
    <!-- <p v-if="userAge > allowedAge">
        You are old enough.
    </p>
    <p v-else-if="user === 'Olumide'">
        You are allowed
    </p>
    <p v-else>
        You are not allowed
    </p> -->
    <!-- <p v-if="checkUser()">
        Welcome {{ user }} !
    </p>
    <p v-else>
        You are not allowed!
    </p> -->
    <p v-show="checkUser()">
        Show It
    </p>
    <p v-else>
        Don't show it
    </p>
    </div>
</body>
<script>
    
const App ={
    data(){
        return{
            user:'Olumide',
            userAge:15,
            allowedAge:18           

        }
    },
    methods:{
    checkUser(){
        return this.user === 'Olumide' ? true : false
    }
}
}

Vue.createApp(App).mount('#app')

</script>

</html>